{% import "controls/form_macro.html" as form with context %}
{% set prefix = "rack" %}
{% set title = "修改机架信息" %}

<div id="{{ prefix }}_detail" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{ title }}</h3>
    </div>
    <div id="modal-body" class="modal-body">
        <div class="row-fluid">
            <form id="{{ prefix }}_detail_form" class="form-inline">
                <fieldset>
                    <legend style="border-bottom-style: none;"></legend>
                    {{ form.input_ro("机架名称", bind_data.rack_name, "span10 offset1") }}
                    {{ form.input("rack_pos", "位置信息", layout_class="span10 offset1") }}
                    {{ form.multiSelect("rack_zone_id","所在机房",bind_data.zone_list,"zone_id","zone_name",layout_class="span10 offset1") }}
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true" data-dismiss="modal" aria-hidden="true">取消</a>
        <a href="#" class="btn btn-primary" id="btn_save_{{ prefix }}">修改</a>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#btn_save_rack').click(function(e) {
                $.post('/devmgr/action/update/rack',
                        { rack_id:{{ bind_data.rack_id }},
                            rack_pos:$('#rack_pos').val(),
                            rack_zone_id:$('#rack_zone_id').val()},
                        function(){
                            $('#rack_detail').modal('hide');
                        })
            })
        })
    </script>
</div>
